package config

var (
	// nil value for an option means it is not set
	DBPath                   string = "./dups.db"
	ProcNum                  int    = 1
	DupsPerPage              int    = 10
	IgnoreFilesLessThanBytes int64  = 1000
	LogFile                  string = "dupsfinder.log"
	WebServerPort            int    = 55786
)
